In [ ]:
Week 6 Final Assignment

In [ ]:
This is a peer graded assignment on Jupyter notebook

In [ ]:
Data Science Languages

Python
R
Scala
Javascript
Java

In [ ]:
Data Science libraries

Matplotlib
Tensorflow
Pandas
SciPy
Scikit-learn

In [ ]:
Data Science tools

Python
R
Tableau
PowerBi
SQL

In [ ]:
Arithmetic expression examples

Addition
Subtraction
Mulltiplication
Division

In [ ]:
Multiplying

y=2*2
y

Adding

x=2+3
x

In [ ]:
Minutes to Hours

h = 240 // 60

In [ ]:
Objectives

Writing python code in Jupyter notebook
Adding and multiplying in Jupyter notebook
Converting minutes to hours in Jupyter notebook